.checkout-header {
  display: flex;
  align-items: center;
  padding-top: 54px;
}
.checkout__steps {
  display: flex;
  align-items: center;
  margin-left: 78px;
  &-item.active {
    color: $main;
  }
  &-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #bdbdbd;
    img {
      margin: 0 22px;
    }
  }
}

.checkout-order {
  display: flex;
  margin-top: 60px;
}
.checkout__order {
  position: fixed;
  right: 16%;
  width: 400px;
  height: 300px;
  padding: 36px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  margin-left: 60px;
  .headline {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: $text;
    margin-bottom: 26px;
  }
  .actions {
    width: 100%;
    .button {
      width: 100%;
    }
  }
  .total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 30px;
    .label {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $text;
    }
    .value {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $main;
    }
  }
  .positions,
  .delivery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .label {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: $gray;
    }
  }
}

.checkout__table {
  width: 700px;
  border-collapse: collapse;
  .checkout__head {
    th {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: $gray;
      text-align: left;
      padding-bottom: 18px;
    }
  }
  .checkout__body {
    tr {
      border-top: 1px solid $accent;
      border-bottom: 1px solid $accent;
    }
    td {
      padding: 22px 0;
    }
    .checkout-remove {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid $accent;
      position: relative;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        background-color: $accent;
        &:after,
        &:before {
          background-color: $gray;
        }
      }
      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: $accent;
        border-radius: 1px;
        transition: all 0.25s ease;
      }
    }
    .checkout-dish {
      display: flex;
      align-items: center;
      &__image {
        margin-right: 12px;
        width: 80px;
        height: 80px;
      }
      .name {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $text;
        margin-bottom: 4px;
      }
      .comment {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $gray;
      }
    }
    .checkout-price,
    .checkout-total {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $text;
    }
  }
}
